body {
    text-align: center;
    margin: 0;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

header {
    background: #6e35ff;
    color: white;
    padding: 2px;
    margin: 0;
    box-shadow: 0px 6px 15px black;
}

