body {
    text-align: center;
    margin: 0;
    font-family: 'Noto Sans', sans-serif;
	background: linear-gradient(45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
    color: white;
}

header {
    color: white;
    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 3px );
    -webkit-backdrop-filter: blur( 3px );
    border-radius: 0px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );

}

#table {
    margin: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

td {
    padding: 10px;
}

img {
    height: 125px;
    width: 125px;
    border-radius: 15px;
}
/*
button {
    background-color: #2ebdff;
    border-radius: 15px;
    border-width: 0;
    color: #5BC0BE;
    cursor: pointer;
    display: inline-block;
    margin: 0;
    padding-top: px;
    text-align: center;
    vertical-align: baseline;
    white-space: nowrap;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
} 
*/

button {
    color: white;
    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 3px );
    -webkit-backdrop-filter: blur( 3px );
    border-radius: 15px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    padding-top: 5px;
}

button:hover {
    background-color: #2e9dff;
}
